<div ng-controller="aboutCtrl">

	<div class="row">
			<h1>About</h1>
			<p>O Bizhack weme é uma maratona que conecta talentos e organizações para hackear modelos e pensar como resolver grandes desafios. O evento acontece das 18h do dia 26/05 até as 18h do dia 27/05.</p>
			<div class="clearfix"></div>

			<div class="col-sm-4 col-lg-4 col-md-4">
					<h4><a href="#">Do you like this?</a>
					</h4>
					<p>This samples is part of our pitch at bizhack.com.br <a target="_blank" href="#">see here</a> thanks for the support.</p>
					<a class="btn btn-primary" target="_blank" href="#">Visit weme</a>
			</div>

	</div>
</div>